## **Project Description**

Welcome to New York City, one of the most-visited cities in the world. There are many Airbnb listings in New York City to meet the high demand for temporary lodging for travelers, which can be anywhere between a few nights to many months. In this project, we will take a closer look at the New York Airbnb market by combining data from multiple file types like `.csv`, `.tsv`, and `.xlsx`.

Recall that **CSV**, **TSV**, and **Excel** files are three common formats for storing data. 
Three files containing data on 2019 Airbnb listings are available to you:

**data/airbnb_price.csv**
This is a CSV file containing data on Airbnb listing prices and locations.
- **`listing_id`**: unique identifier of listing
- **`price`**: nightly listing price in USD
- **`nbhood_full`**: name of borough and neighborhood where listing is located

**data/airbnb_room_type.xlsx**
This is an Excel file containing data on Airbnb listing descriptions and room types.
- **`listing_id`**: unique identifier of listing
- **`description`**: listing description
- **`room_type`**: Airbnb has three types of rooms: shared rooms, private rooms, and entire homes/apartments

**data/airbnb_last_review.tsv**
This is a TSV file containing data on Airbnb host names and review dates.
- **`listing_id`**: unique identifier of listing
- **`host_name`**: name of listing host
- **`last_review`**: date when the listing was last reviewed

In [1]:
# Import necessary packages
import pandas as pd
import numpy as np

In [2]:
# Load data into dataframes.
airbnb_price = pd.read_csv("../data/airbnb_price.csv", sep=",")
airbnb_room_type = pd.read_excel("../data/airbnb_room_type.xlsx")
airbnb_last_review = pd.read_csv("../data/airbnb_last_review.tsv", sep="\t")

print("Airbnb Price \n", airbnb_price.head())
print("Airbnb Room Type \n", airbnb_room_type.head())
print("Airbnb Last Review \n", airbnb_last_review.head())

Airbnb Price
    listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
Airbnb Room Type
    listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
Airbnb Last Review
    listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

## Merging the DataFrames to one single DataFrame

We merge the cells so that the listing can be analyzed together, thus making it more efficient and easier to process any analysis for these datasets.

In [3]:
airbnb_listings = pd.merge(airbnb_price, airbnb_room_type, on="listing_id")
airbnb_listings = pd.merge(
    airbnb_listings, airbnb_last_review, on="listing_id")

airbnb_listings.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019

## Exploratory Data Analysis

In [4]:
# Doing an EDA to understand about the dataset.
airbnb_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  object
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  object
dtypes: int64(1), object(6)
memory usage: 1.3+ MB

Based on our DataFrame information, we notice that we need to change some datatypes of some columns. 

We're changing the following: 

* `price` as integer datatype.
* `room_type` to be lowercase to be consistent
* `last_review` as datetime datatype.

In [5]:
# Update price to decimal format. Eg. 22.00
airbnb_listings["price"] = airbnb_listings["price"].str.replace(" dollars", "").astype(int)

# Update room_type to be lowercase.
airbnb_listings["room_type"] = airbnb_listings["room_type"].str.lower()

# Update last_review to date format.
airbnb_listings["last_review"] = pd.to_datetime(
    airbnb_listings['last_review'], format='%B %d %Y')

In [6]:
# Find the top 10 listing with smallest listing price.
lowest_price_listing = airbnb_listings.nsmallest(
    10, "price")[["listing_id", "price"]]

# Find the top 10 listing with highest listing price.
highest_price_listing = airbnb_listings.nlargest(
    10, "price")[["listing_id", "price"]]

print("Top 10 Lowest Prices: \n", lowest_price_listing)
print("\nTop 10 Highest Prices: \n", highest_price_listing)

Top 10 Lowest Prices:
        listing_id  price
10861    20333471      0
10958    20523843      0
11023    20639628      0
11024    20639792      0
11025    20639914      0
11577    21291569      0
11589    21304320      0
9686     18490141     10
12135    21869057     10
13894    24412104     10

Top 10 Highest Prices:
        listing_id  price
23916    34895693   7500
22085    33397385   5100
18430    30035166   5000
21731    33029434   3613
12508    22263855   3000
24432    35297214   2995
13528    23860219   2990
21838    33133321   2600
1234       893413   2500
14282    25018204   2500

As per this listing, we can see there are some listing with 0.0 price, depicting that those are free or the price wasn't captured correctly. As for the highest price listing, we have to confirm, whether those are outliers or not.

But for this analysis, since those are not the criteria, we're going to skip those. But on an actual analysis, we would dig deeper into those.

In [7]:
# View the dataset information again.
airbnb_listings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25209 entries, 0 to 25208
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   listing_id   25209 non-null  int64
 1   price        25209 non-null  int64
 2   nbhood_full  25209 non-null  object
 3   description  25199 non-null  object
 4   room_type    25209 non-null  object
 5   host_name    25201 non-null  object
 6   last_review  25209 non-null  datetime64[ns]
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 1.3+ MB

In [8]:
# View the statistical analysis for price
airbnb_listings.describe()

         listing_id         price                    last_review
count  2.520900e+04  25209.000000                          25209
mean   2.068922e+07    141.777936  2019-05-30 07:58:41.171010560
min    2.595000e+03      0.000000            2019-01-01 00:00:00
25%    1.202273e+07     69.000000            2019-05-23 00:00:00
50%    2.234391e+07    105.000000            2019-06-18 00:00:00
75%    3.037669e+07    175.000000            2019-06-29 00:00:00
max    3.645581e+07   7500.000000            2019-07-09 00:00:00
std    1.102928e+07    147.349137                            NaN

In [9]:
# View the updated DataFrame.
airbnb_listings.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225,"Manhattan, Midtown",Skylit Midtown Castle,entire home/apt,Jennifer,2019-05-21
1,3831,89,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,entire home/apt,LisaRoxanne,2019-07-05
2,5099,200,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,entire home/apt,Chris,2019-06-22
3,5178,79,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,2019-06-24
4,5238,150,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,entire home/apt,Ben,2019-06-09

### **1. Finding the Earliest and Most Recent Reviews Dates**

Task: What are the dates of the earliest and most recent reviews? Store these values as two separate variables with your preferred names.

In [10]:
first_reviewed = airbnb_listings["last_review"].min()
last_reviewed = airbnb_listings["last_review"].max()

print(f"The earliest and most recent reviews were done on {first_reviewed.strftime('%b %d %Y')} and {last_reviewed.strftime('%b %d %Y')}.")

The earliest and most recent reviews were done on Jan 01 2019 and Jul 09 2019.

### **2. Determining the count of private rooms**

Task: How many of the listings are private rooms? Save this into any variable.

In [11]:
nb_private_rooms = (
    airbnb_listings["room_type"].str.lower() == "private room").sum()

print(f"Out of all the listings, {nb_private_rooms} are private rooms.")

Out of all the listings, 11356 are private rooms.

### **3. Determining the average listing price**

Task: What is the average listing price? Round to the nearest two decimal places and save into a variable.

In [12]:
avg_price = airbnb_listings["price"].mean()

print(f"The average listing price is {'{:.2f}'.format(avg_price)}")

The average listing price is 141.78

### **4. Creating a new DataFrame with combined data**
    
Task: Combine the new variables into one DataFrame called `review_dates` with four columns in the following order: `first_reviewed`, `last_reviewed`, `nb_private_rooms`, and `avg_price`. The DataFrame should only contain one row of values.

In [13]:
review_dates = pd.DataFrame(
    {
        "first_reviewed": [first_reviewed],
        "last_reviewed": [last_reviewed],
        "nb_private_rooms": [nb_private_rooms],
        "avg_price": [round(avg_price, 2)]
    }
)

review_dates

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78